*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #afb8c1;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:40px;
    background-color: white;
    border-radius: 20px
}
.logo img{
    max-width: 100%;
    width: 200px;
}
.navbar a{
    text-decoration: none;
    padding-right: 40px;
    font-size: x-large;
    font-weight: bold;
    color:#afb8c1 ;
}
a .btn{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #afb8c1;
    font-size: x-large;
    font-weight: bold;
    color: #afb8c1 ;
    background-color: white;
    cursor: pointer;
}
